1. Import Llama3
2. Fetch data
3. Initialize few shot examples
4. convert to embeddings
5. few custom tools
6. Prompt
7. Agent with ReAct
8. Agent Executer

Import Llama3

In [2]:
from langchain_community.llms import Ollama

In [3]:
llm = Ollama(model = "llama3")

In [3]:
llm.invoke("Hi")

"Hello! It's nice to meet you. Is there something I can help you with, or would you like to chat?"

Get the Data

In [4]:
from langchain_community.utilities import SQLDatabase
db = SQLDatabase.from_uri("sqlite:///chinook.db", sample_rows_in_table_info = 3)

In [5]:
print(db.table_info)

CREATE TABLE "Album" (
	"AlbumId" INTEGER NOT NULL,
	"Title" NVARCHAR(160) NOT NULL,
	"ArtistId" INTEGER NOT NULL,
	PRIMARY KEY ("AlbumId"),
	FOREIGN KEY("ArtistId") REFERENCES "Artist" ("ArtistId")
)

/*
3 rows from Album table:
AlbumId	Title	ArtistId
1	For Those About To Rock We Salute You	1
2	Balls to the Wall	2
3	Restless and Wild	2
*/


CREATE TABLE "Artist" (
	"ArtistId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("ArtistId")
)

/*
3 rows from Artist table:
ArtistId	Name
1	AC/DC
2	Accept
3	Aerosmith
*/


CREATE TABLE "Customer" (
	"CustomerId" INTEGER NOT NULL,
	"FirstName" NVARCHAR(40) NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"Company" NVARCHAR(80),
	"Address" NVARCHAR(70),
	"City" NVARCHAR(40),
	"State" NVARCHAR(40),
	"Country" NVARCHAR(40),
	"PostalCode" NVARCHAR(10),
	"Phone" NVARCHAR(24),
	"Fax" NVARCHAR(24),
	"Email" NVARCHAR(60) NOT NULL,
	"SupportRepId" INTEGER,
	PRIMARY KEY ("CustomerId"),
	FOREIGN KEY("SupportRepId") REFERENCES "Employee" ("EmployeeId")
)

/*
3 rows from Customer table:
CustomerId	FirstName	LastName	Company	Address	City	State	Country	PostalCode	Phone	Fax	Email	SupportRepId
1	Luís	Gonçalves	Embraer - Empresa Brasileira de Aeronáutica S.A.	Av. Brigadeiro Faria Lima, 2170	São José dos Campos	SP	Brazil	12227-000	+55 (12) 3923-5555	+55 (12) 3923-5566	luisg@embraer.com.br	3
2	Leonie	Köhler	None	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	+49 0711 2842222	None	leonekohler@surfeu.de	5
3	François	Tremblay	None	1498 rue Bélanger	Montréal	QC	Canada	H2G 1A7	+1 (514) 721-4711	None	ftremblay@gmail.com	3
*/


CREATE TABLE "Employee" (
	"EmployeeId" INTEGER NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"FirstName" NVARCHAR(20) NOT NULL,
	"Title" NVARCHAR(30),
	"ReportsTo" INTEGER,
	"BirthDate" DATETIME,
	"HireDate" DATETIME,
	"Address" NVARCHAR(70),
	"City" NVARCHAR(40),
	"State" NVARCHAR(40),
	"Country" NVARCHAR(40),
	"PostalCode" NVARCHAR(10),
	"Phone" NVARCHAR(24),
	"Fax" NVARCHAR(24),
	"Email" NVARCHAR(60),
	PRIMARY KEY ("EmployeeId"),
	FOREIGN KEY("ReportsTo") REFERENCES "Employee" ("EmployeeId")
)

/*
3 rows from Employee table:
EmployeeId	LastName	FirstName	Title	ReportsTo	BirthDate	HireDate	Address	City	State	Country	PostalCode	Phone	Fax	Email
1	Adams	Andrew	General Manager	None	1962-02-18 00:00:00	2002-08-14 00:00:00	11120 Jasper Ave NW	Edmonton	AB	Canada	T5K 2N1	+1 (780) 428-9482	+1 (780) 428-3457	andrew@chinookcorp.com
2	Edwards	Nancy	Sales Manager	1	1958-12-08 00:00:00	2002-05-01 00:00:00	825 8 Ave SW	Calgary	AB	Canada	T2P 2T3	+1 (403) 262-3443	+1 (403) 262-3322	nancy@chinookcorp.com
3	Peacock	Jane	Sales Support Agent	2	1973-08-29 00:00:00	2002-04-01 00:00:00	1111 6 Ave SW	Calgary	AB	Canada	T2P 5M5	+1 (403) 262-3443	+1 (403) 262-6712	jane@chinookcorp.com
*/


CREATE TABLE "Genre" (
	"GenreId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("GenreId")
)

/*
3 rows from Genre table:
GenreId	Name
1	Rock
2	Jazz
3	Metal
*/


CREATE TABLE "Invoice" (
	"InvoiceId" INTEGER NOT NULL,
	"CustomerId" INTEGER NOT NULL,
	"InvoiceDate" DATETIME NOT NULL,
	"BillingAddress" NVARCHAR(70),
	"BillingCity" NVARCHAR(40),
	"BillingState" NVARCHAR(40),
	"BillingCountry" NVARCHAR(40),
	"BillingPostalCode" NVARCHAR(10),
	"Total" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("InvoiceId"),
	FOREIGN KEY("CustomerId") REFERENCES "Customer" ("CustomerId")
)

/*
3 rows from Invoice table:
InvoiceId	CustomerId	InvoiceDate	BillingAddress	BillingCity	BillingState	BillingCountry	BillingPostalCode	Total
1	2	2021-01-01 00:00:00	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	1.98
2	4	2021-01-02 00:00:00	Ullevålsveien 14	Oslo	None	Norway	0171	3.96
3	8	2021-01-03 00:00:00	Grétrystraat 63	Brussels	None	Belgium	1000	5.94
*/


CREATE TABLE "InvoiceLine" (
	"InvoiceLineId" INTEGER NOT NULL,
	"InvoiceId" INTEGER NOT NULL,
	"TrackId" INTEGER NOT NULL,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	"Quantity" INTEGER NOT NULL,
	PRIMARY KEY ("InvoiceLineId"),
	FOREIGN KEY("TrackId") REFERENCES "Track" ("TrackId"),
	FOREIGN KEY("InvoiceId") REFERENCES "Invoice" ("InvoiceId")
)

/*
3 rows from InvoiceLine table:
InvoiceLineId	InvoiceId	TrackId	UnitPrice	Quantity
1	1	2	0.99	1
2	1	4	0.99	1
3	2	6	0.99	1
*/


CREATE TABLE "MediaType" (
	"MediaTypeId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("MediaTypeId")
)

/*
3 rows from MediaType table:
MediaTypeId	Name
1	MPEG audio file
2	Protected AAC audio file
3	Protected MPEG-4 video file
*/


CREATE TABLE "Playlist" (
	"PlaylistId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("PlaylistId")
)

/*
3 rows from Playlist table:
PlaylistId	Name
1	Music
2	Movies
3	TV Shows
*/


CREATE TABLE "PlaylistTrack" (
	"PlaylistId" INTEGER NOT NULL,
	"TrackId" INTEGER NOT NULL,
	PRIMARY KEY ("PlaylistId", "TrackId"),
	FOREIGN KEY("TrackId") REFERENCES "Track" ("TrackId"),
	FOREIGN KEY("PlaylistId") REFERENCES "Playlist" ("PlaylistId")
)

/*
3 rows from PlaylistTrack table:
PlaylistId	TrackId
1	3402
1	3389
1	3390
*/


CREATE TABLE "Track" (
	"TrackId" INTEGER NOT NULL,
	"Name" NVARCHAR(200) NOT NULL,
	"AlbumId" INTEGER,
	"MediaTypeId" INTEGER NOT NULL,
	"GenreId" INTEGER,
	"Composer" NVARCHAR(220),
	"Milliseconds" INTEGER NOT NULL,
	"Bytes" INTEGER,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("TrackId"),
	FOREIGN KEY("MediaTypeId") REFERENCES "MediaType" ("MediaTypeId"),
	FOREIGN KEY("GenreId") REFERENCES "Genre" ("GenreId"),
	FOREIGN KEY("AlbumId") REFERENCES "Album" ("AlbumId")
)

/*
3 rows from Track table:
TrackId	Name	AlbumId	MediaTypeId	GenreId	Composer	Milliseconds	Bytes	UnitPrice
1	For Those About To Rock (We Salute You)	1	1	1	Angus Young, Malcolm Young, Brian Johnson	343719	11170334	0.99
2	Balls to the Wall	2	2	1	U. Dirkschneider, W. Hoffmann, H. Frank, P. Baltes, S. Kaufmann, G. Hoffmann	342562	5510424	0.99
3	Fast As a Shark	3	2	1	F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman	230619	3990994	0.99
*/

Initialize Few Shots

In [6]:
examples = [
    {   "input": "List all artists.", 
        "query": "SELECT * FROM Artist;"},
    {
        "input": "Find all albums for the artist 'AC/DC'.",
        "query": "SELECT * FROM Album WHERE ArtistId = (SELECT ArtistId FROM Artist WHERE Name = 'AC/DC');",
    },
    {
        "input": "List all tracks in the 'Rock' genre.",
        "query": "SELECT * FROM Track WHERE GenreId = (SELECT GenreId FROM Genre WHERE Name = 'Rock');",
    },
    {
        "input": "Find the total duration of all tracks.",
        "query": "SELECT SUM(Milliseconds) FROM Track;",
    },
    {
        "input": "List all customers from Canada.",
        "query": "SELECT * FROM Customer WHERE Country = 'Canada';",
    },
    {
        "input": "How many tracks are there in the album with ID 5?",
        "query": "SELECT COUNT(*) FROM Track WHERE AlbumId = 5;",
    },
    {
        "input": "Find the total number of Albums.",
        "query": "SELECT COUNT(DISTINT(AlbumId)) FROM Invoice;",
    },
    {
        "input": "List all tracks that are longer than 5 minutes.",
        "query": "SELECT * FROM Track WHERE Milliseconds > 300000;",
    },
    {
        "input": "Who are the top 5 customers by total purchase?",
        "query": "SELECT CustomerId, SUM(Total) AS TotalPurchase FROM Invoice GROUP BY CustomerId ORDER BY TotalPurchase DESC LIMIT 5;",
    },
    {
        "input": "How many employees are there",
        "query": 'SELECT COUNT(*) FROM "Employee"',
    },
]
print(len(examples))

10

Few Shots to Embeddings

In [7]:
from langchain_community.embeddings import OllamaEmbeddings

In [8]:
embeddings = (
    OllamaEmbeddings(model = "llama3")
)

In [9]:
from langchain_community.vectorstores import FAISS
from langchain_core.example_selectors import SemanticSimilarityExampleSelector

example_selector = SemanticSimilarityExampleSelector.from_examples(
    examples,
    embeddings,
    FAISS,
    k=3,
    input_keys=["input"],
    )

In [11]:
matched_queries = example_selector.vectorstore.search("How many arists are there?", search_type = "mmr")
print(matched_queries)

[Document(page_content='How many tracks are there in the album with ID 5?', metadata={'input': 'How many tracks are there in the album with ID 5?', 'query': 'SELECT COUNT(*) FROM Track WHERE AlbumId = 5;'}), Document(page_content='List all artists.', metadata={'input': 'List all artists.', 'query': 'SELECT * FROM Artist;'}), Document(page_content='How many employees are there', metadata={'input': 'How many employees are there', 'query': 'SELECT COUNT(*) FROM "Employee"'})]

In [12]:
for doc in matched_queries:
    print(doc.page_content)

How many tracks are there in the album with ID 5?
List all artists.
How many employees are there

Custom Tools

In [13]:
from langchain_community.tools.sql_database.tool import QuerySQLDataBaseTool, InfoSQLDatabaseTool, ListSQLDatabaseTool, QuerySQLCheckerTool

sql_db_query =  QuerySQLDataBaseTool(db = db)
sql_db_schema =  InfoSQLDatabaseTool(db = db)
sql_db_list_tables =  ListSQLDatabaseTool(db = db)
sql_db_query_checker = QuerySQLCheckerTool(db = db, llm = llm)

tools = [sql_db_query, sql_db_schema, sql_db_list_tables, sql_db_query_checker]

for tool in tools:
    print(tool.name + " - " + tool.description.strip() + "\n")

sql_db_query - Execute a SQL query against the database and get back the result..
    If the query is not correct, an error message will be returned.
    If an error is returned, rewrite the query, check the query, and try again.

sql_db_schema - Get the schema and sample rows for the specified SQL tables.

sql_db_list_tables - Input is an empty string, output is a comma-separated list of tables in the database.

sql_db_query_checker - Use this tool to double check if your query is correct before executing it.
    Always use this tool before executing a query with sql_db_query!

Prompts

In [14]:
system_prefix = """
Answer the following questions as best you can. You have access to the following tools:

{tools}

Use the following format:

Question: the input question you must answer
Thought: you should always think about what to do
Action: the action to take, should be one of [{tool_names}]
Action Input: the input to the action
Observation: the result of the action
... (this Thought/Action/Action Input/Observation can repeat N times)
Thought: I now know the final answer
Final Answer: the final answer to the original input question

Here are some examples of user inputs and their corresponding SQL queries:

"""

In [15]:
suffix = """
Begin!

Question: {input}
Thought:{agent_scratchpad}
"""

In [17]:
from langchain_core.prompts import FewShotPromptTemplate, PromptTemplate, ChatPromptTemplate
from langchain_core.prompts import SystemMessagePromptTemplate

In [18]:
dynamic_few_shot_prompt_template = FewShotPromptTemplate(
    example_selector = example_selector,
    example_prompt=PromptTemplate.from_template(
        "User input: {input}\nSQL query: {query}"
    ),
    input_variables=["input"],
    prefix=system_prefix,
    suffix=suffix
)

In [19]:
full_prompt = ChatPromptTemplate.from_messages(
    [
        SystemMessagePromptTemplate(prompt=dynamic_few_shot_prompt_template),
    ]
)

In [20]:
prompt_val = full_prompt.invoke(
    {
        "input": "How many arists are there?",
        "tool_names" : [tool.name for tool in tools],
        "tools" : [tool.name + " - " + tool.description.strip() for tool in tools],
        "agent_scratchpad": [],
    }
)

print(prompt_val.to_string())

System:
Answer the following questions as best you can. You have access to the following tools:

['sql_db_query - Execute a SQL query against the database and get back the result..\n    If the query is not correct, an error message will be returned.\n    If an error is returned, rewrite the query, check the query, and try again.', 'sql_db_schema - Get the schema and sample rows for the specified SQL tables.', 'sql_db_list_tables - Input is an empty string, output is a comma-separated list of tables in the database.', 'sql_db_query_checker - Use this tool to double check if your query is correct before executing it.\n    Always use this tool before executing a query with sql_db_query!']

Use the following format:

Question: the input question you must answer
Thought: you should always think about what to do
Action: the action to take, should be one of [['sql_db_query', 'sql_db_schema', 'sql_db_list_tables', 'sql_db_query_checker']]
Action Input: the input to the action
Observation: the result of the action
... (this Thought/Action/Action Input/Observation can repeat N times)
Thought: I now know the final answer
Final Answer: the final answer to the original input question

Here are some examples of user inputs and their corresponding SQL queries:



User input: How many tracks are there in the album with ID 5?
SQL query: SELECT COUNT(*) FROM Track WHERE AlbumId = 5;

User input: Who are the top 5 customers by total purchase?
SQL query: SELECT CustomerId, SUM(Total) AS TotalPurchase FROM Invoice GROUP BY CustomerId ORDER BY TotalPurchase DESC LIMIT 5;

User input: Find all albums for the artist 'AC/DC'.
SQL query: SELECT * FROM Album WHERE ArtistId = (SELECT ArtistId FROM Artist WHERE Name = 'AC/DC');


Begin!

Question: How many arists are there?
Thought:[]

Create Agent

In [21]:
from langchain.agents import AgentExecutor, create_react_agent
agent = create_react_agent(llm, tools, full_prompt)

In [22]:
agent_executor = AgentExecutor(agent=agent, tools=tools, verbose=True, handle_parsing_errors=True)

In [ ]:
import langchain
langchain.debug = True

In [26]:
agent_executor.invoke({"input": "Provide the number of customers with respect to each country."})

[chain/start] [chain:AgentExecutor] Entering Chain run with input:
{
  "input": "Provide the number of customers with respect to each country."
}
[chain/start] [chain:AgentExecutor > chain:RunnableSequence] Entering Chain run with input:
{
  "input": ""
}
[chain/start] [chain:AgentExecutor > chain:RunnableSequence > chain:RunnableAssign<agent_scratchpad>] Entering Chain run with input:
{
  "input": ""
}
[chain/start] [chain:AgentExecutor > chain:RunnableSequence > chain:RunnableAssign<agent_scratchpad> > chain:RunnableParallel<agent_scratchpad>] Entering Chain run with input:
{
  "input": ""
}
[chain/start] [chain:AgentExecutor > chain:RunnableSequence > chain:RunnableAssign<agent_scratchpad> > chain:RunnableParallel<agent_scratchpad> > chain:RunnableLambda] Entering Chain run with input:
{
  "input": ""
}
[chain/end] [chain:AgentExecutor > chain:RunnableSequence > chain:RunnableAssign<agent_scratchpad> > chain:RunnableParallel<agent_scratchpad> > chain:RunnableLambda] [3ms] Exiting Chain run with output:
{
  "output": ""
}
[chain/end] [chain:AgentExecutor > chain:RunnableSequence > chain:RunnableAssign<agent_scratchpad> > chain:RunnableParallel<agent_scratchpad>] [10ms] Exiting Chain run with output:
{
  "agent_scratchpad": ""
}
[chain/end] [chain:AgentExecutor > chain:RunnableSequence > chain:RunnableAssign<agent_scratchpad>] [37ms] Exiting Chain run with output:
{
  "input": "Provide the number of customers with respect to each country.",
  "intermediate_steps": [],
  "agent_scratchpad": ""
}
[chain/start] [chain:AgentExecutor > chain:RunnableSequence > prompt:ChatPromptTemplate] Entering Prompt run with input:
{
  "input": "Provide the number of customers with respect to each country.",
  "intermediate_steps": [],
  "agent_scratchpad": ""
}
[chain/end] [chain:AgentExecutor > chain:RunnableSequence > prompt:ChatPromptTemplate] [7.65s] Exiting Prompt run with output:
[outputs]
[llm/start] [chain:AgentExecutor > chain:RunnableSequence > llm:Ollama] Entering LLM run with input:
{
  "prompts": [
    "System: \nAnswer the following questions as best you can. You have access to the following tools:\n\nsql_db_query - \n    Execute a SQL query against the database and get back the result..\n    If the query is not correct, an error message will be returned.\n    If an error is returned, rewrite the query, check the query, and try again.\n    \nsql_db_schema - Get the schema and sample rows for the specified SQL tables.\nsql_db_list_tables - Input is an empty string, output is a comma-separated list of tables in the database.\nsql_db_query_checker - \n    Use this tool to double check if your query is correct before executing it.\n    Always use this tool before executing a query with sql_db_query!\n    \n\nUse the following format:\n\nQuestion: the input question you must answer\nThought: you should always think about what to do\nAction: the action to take, should be one of [sql_db_query, sql_db_schema, sql_db_list_tables, sql_db_query_checker]\nAction Input: the input to the action\nObservation: the result of the action\n... (this Thought/Action/Action Input/Observation can repeat N times)\nThought: I now know the final answer\nFinal Answer: the final answer to the original input question\n\nHere are some examples of user inputs and their corresponding SQL queries:\n\n\n\nUser input: List all customers from Canada.\nSQL query: SELECT * FROM Customer WHERE Country = 'Canada';\n\nUser input: Find the total number of Albums.\nSQL query: SELECT COUNT(DISTINT(AlbumId)) FROM Invoice;\n\nUser input: Find the total duration of all tracks.\nSQL query: SELECT SUM(Milliseconds) FROM Track;\n\n\nBegin!\n\nQuestion: Provide the number of customers with respect to each country.\nThought:"
  ]
}
[llm/end] [chain:AgentExecutor > chain:RunnableSequence > llm:Ollama] [32.71s] Exiting LLM run with output:
{
  "generations": [
    [
      {
        "text": "Action: sql_db_query\nAction Input: SELECT COUNT(*) AS TotalCustomers, Country FROM Customer GROUP BY Country",
        "generation_info": {
          "model": "llama3",
          "created_at": "2024-07-02T06:41:33.8292163Z",
          "response": "",
          "done": true,
          "done_reason": "stop",
          "context": [
            128006,
            882,
            128007,
            271,
            2374,
            25,
            720,
            16533,
            279,
            2768,
            4860,
            439,
            1888,
            499,
            649,
            13,
            1472,
            617,
            2680,
            311,
            279,
            2768,
            7526,
            1473,
            3628,
            8856,
            5857,
            482,
            720,
            262,
            21517,
            264,
            8029,
            3319,
            2403,
            279,
            4729,
            323,
            636,
            1203,
            279,
            1121,
            35047,
            262,
            1442,
            279,
            3319,
            374,
            539,
            4495,
            11,
            459,
            1493,
            1984,
            690,
            387,
            6052,
            627,
            262,
            1442,
            459,
            1493,
            374,
            6052,
            11,
            18622,
            279,
            3319,
            11,
            1817,
            279,
            3319,
            11,
            323,
            1456,
            1578,
            627,
            1084,
            3628,
            8856,
            26443,
            482,
            2175,
            279,
            11036,
            323,
            6205,
            7123,
            369,
            279,
            5300,
            8029,
            12920,
            627,
            3628,
            8856,
            2062,
            36732,
            482,
            5688,
            374,
            459,
            4384,
            925,
            11,
            2612,
            374,
            264,
            32783,
            73792,
            1160,
            315,
            12920,
            304,
            279,
            4729,
            627,
            3628,
            8856,
            5857,
            63815,
            482,
            720,
            262,
            5560,
            420,
            5507,
            311,
            2033,
            1817,
            422,
            701,
            3319,
            374,
            4495,
            1603,
            31320,
            433,
            627,
            262,
            24119,
            1005,
            420,
            5507,
            1603,
            31320,
            264,
            3319,
            449,
            5822,
            8856,
            5857,
            4999,
            15152,
            10464,
            279,
            2768,
            3645,
            1473,
            14924,
            25,
            279,
            1988,
            3488,
            499,
            2011,
            4320,
            198,
            85269,
            25,
            499,
            1288,
            2744,
            1781,
            922,
            1148,
            311,
            656,
            198,
            2573,
            25,
            279,
            1957,
            311,
            1935,
            11,
            1288,
            387,
            832,
            315,
            510,
            3628,
            8856,
            5857,
            11,
            5822,
            8856,
            26443,
            11,
            5822,
            8856,
            2062,
            36732,
            11,
            5822,
            8856,
            5857,
            63815,
            933,
            2573,
            5688,
            25,
            279,
            1988,
            311,
            279,
            1957,
            198,
            38863,
            367,
            25,
            279,
            1121,
            315,
            279,
            1957,
            198,
            1131,
            320,
            576,
            36287,
            14,
            2573,
            14,
            2573,
            5688,
            17991,
            4945,
            367,
            649,
            13454,
            452,
            3115,
            340,
            85269,
            25,
            358,
            1457,
            1440,
            279,
            1620,
            4320,
            198,
            19918,
            22559,
            25,
            279,
            1620,
            4320,
            311,
            279,
            4113,
            1988,
            3488,
            271,
            8586,
            527,
            1063,
            10507,
            315,
            1217,
            11374,
            323,
            872,
            12435,
            8029,
            20126,
            14557,
            1502,
            1988,
            25,
            1796,
            682,
            6444,
            505,
            7008,
            627,
            6827,
            3319,
            25,
            19638,
            353,
            4393,
            12557,
            5401,
            14438,
            284,
            364,
            37031,
            2412,
            1502,
            1988,
            25,
            7531,
            279,
            2860,
            1396,
            315,
            87823,
            627,
            6827,
            3319,
            25,
            19638,
            24945,
            5549,
            3931,
            3301,
            7,
            33478,
            769,
            595,
            4393,
            41290,
            401,
            1502,
            1988,
            25,
            7531,
            279,
            2860,
            8250,
            315,
            682,
            14242,
            627,
            6827,
            3319,
            25,
            19638,
            31835,
            3269,
            57294,
            8,
            4393,
            20371,
            5322,
            11382,
            2268,
            14924,
            25,
            40665,
            279,
            1396,
            315,
            6444,
            449,
            5201,
            311,
            1855,
            3224,
            627,
            85269,
            512,
            128009,
            128006,
            78191,
            128007,
            271,
            2573,
            25,
            5822,
            8856,
            5857,
            198,
            2573,
            5688,
            25,
            19638,
            24945,
            29771,
            5871,
            10884,
            45945,
            11,
            14438,
            4393,
            12557,
            27968,
            7866,
            14438,
            128009
          ],
          "total_duration": 30652907900,
          "load_duration": 15987800,
          "prompt_eval_count": 369,
          "prompt_eval_duration": 14147108000,
          "eval_count": 25,
          "eval_duration": 16485143000
        },
        "type": "Generation"
      }
    ]
  ],
  "llm_output": null,
  "run": null
}
[chain/start] [chain:AgentExecutor > chain:RunnableSequence > parser:ReActSingleInputOutputParser] Entering Parser run with input:
{
  "input": "Action: sql_db_query\nAction Input: SELECT COUNT(*) AS TotalCustomers, Country FROM Customer GROUP BY Country"
}
[chain/end] [chain:AgentExecutor > chain:RunnableSequence > parser:ReActSingleInputOutputParser] [1ms] Exiting Parser run with output:
[outputs]
[chain/end] [chain:AgentExecutor > chain:RunnableSequence] [40.43s] Exiting Chain run with output:
[outputs]
[tool/start] [chain:AgentExecutor > tool:sql_db_query] Entering Tool run with input:
"SELECT COUNT(*) AS TotalCustomers, Country FROM Customer GROUP BY Country"
[tool/end] [chain:AgentExecutor > tool:sql_db_query] [4ms] Exiting Tool run with output:
"[(1, 'Argentina'), (1, 'Australia'), (1, 'Austria'), (1, 'Belgium'), (5, 'Brazil'), (8, 'Canada'), (1, 'Chile'), (2, 'Czech Republic'), (1, 'Denmark'), (1, 'Finland'), (5, 'France'), (4, 'Germany'), (1, 'Hungary'), (2, 'India'), (1, 'Ireland'), (1, 'Italy'), (1, 'Netherlands'), (1, 'Norway'), (1, 'Poland'), (2, 'Portugal'), (1, 'Spain'), (1, 'Sweden'), (13, 'USA'), (3, 'United Kingdom')]"
[chain/start] [chain:AgentExecutor > chain:RunnableSequence] Entering Chain run with input:
{
  "input": ""
}
[chain/start] [chain:AgentExecutor > chain:RunnableSequence > chain:RunnableAssign<agent_scratchpad>] Entering Chain run with input:
{
  "input": ""
}
[chain/start] [chain:AgentExecutor > chain:RunnableSequence > chain:RunnableAssign<agent_scratchpad> > chain:RunnableParallel<agent_scratchpad>] Entering Chain run with input:
{
  "input": ""
}
[chain/start] [chain:AgentExecutor > chain:RunnableSequence > chain:RunnableAssign<agent_scratchpad> > chain:RunnableParallel<agent_scratchpad> > chain:RunnableLambda] Entering Chain run with input:
{
  "input": ""
}
[chain/end] [chain:AgentExecutor > chain:RunnableSequence > chain:RunnableAssign<agent_scratchpad> > chain:RunnableParallel<agent_scratchpad> > chain:RunnableLambda] [2ms] Exiting Chain run with output:
{
  "output": "Action: sql_db_query\nAction Input: SELECT COUNT(*) AS TotalCustomers, Country FROM Customer GROUP BY Country\nObservation: [(1, 'Argentina'), (1, 'Australia'), (1, 'Austria'), (1, 'Belgium'), (5, 'Brazil'), (8, 'Canada'), (1, 'Chile'), (2, 'Czech Republic'), (1, 'Denmark'), (1, 'Finland'), (5, 'France'), (4, 'Germany'), (1, 'Hungary'), (2, 'India'), (1, 'Ireland'), (1, 'Italy'), (1, 'Netherlands'), (1, 'Norway'), (1, 'Poland'), (2, 'Portugal'), (1, 'Spain'), (1, 'Sweden'), (13, 'USA'), (3, 'United Kingdom')]\nThought: "
}
[chain/end] [chain:AgentExecutor > chain:RunnableSequence > chain:RunnableAssign<agent_scratchpad> > chain:RunnableParallel<agent_scratchpad>] [7ms] Exiting Chain run with output:
{
  "agent_scratchpad": "Action: sql_db_query\nAction Input: SELECT COUNT(*) AS TotalCustomers, Country FROM Customer GROUP BY Country\nObservation: [(1, 'Argentina'), (1, 'Australia'), (1, 'Austria'), (1, 'Belgium'), (5, 'Brazil'), (8, 'Canada'), (1, 'Chile'), (2, 'Czech Republic'), (1, 'Denmark'), (1, 'Finland'), (5, 'France'), (4, 'Germany'), (1, 'Hungary'), (2, 'India'), (1, 'Ireland'), (1, 'Italy'), (1, 'Netherlands'), (1, 'Norway'), (1, 'Poland'), (2, 'Portugal'), (1, 'Spain'), (1, 'Sweden'), (13, 'USA'), (3, 'United Kingdom')]\nThought: "
}
[chain/end] [chain:AgentExecutor > chain:RunnableSequence > chain:RunnableAssign<agent_scratchpad>] [18ms] Exiting Chain run with output:
[outputs]
[chain/start] [chain:AgentExecutor > chain:RunnableSequence > prompt:ChatPromptTemplate] Entering Prompt run with input:
[inputs]
[chain/end] [chain:AgentExecutor > chain:RunnableSequence > prompt:ChatPromptTemplate] [7.19s] Exiting Prompt run with output:
[outputs]
[llm/start] [chain:AgentExecutor > chain:RunnableSequence > llm:Ollama] Entering LLM run with input:
{
  "prompts": [
    "System: \nAnswer the following questions as best you can. You have access to the following tools:\n\nsql_db_query - \n    Execute a SQL query against the database and get back the result..\n    If the query is not correct, an error message will be returned.\n    If an error is returned, rewrite the query, check the query, and try again.\n    \nsql_db_schema - Get the schema and sample rows for the specified SQL tables.\nsql_db_list_tables - Input is an empty string, output is a comma-separated list of tables in the database.\nsql_db_query_checker - \n    Use this tool to double check if your query is correct before executing it.\n    Always use this tool before executing a query with sql_db_query!\n    \n\nUse the following format:\n\nQuestion: the input question you must answer\nThought: you should always think about what to do\nAction: the action to take, should be one of [sql_db_query, sql_db_schema, sql_db_list_tables, sql_db_query_checker]\nAction Input: the input to the action\nObservation: the result of the action\n... (this Thought/Action/Action Input/Observation can repeat N times)\nThought: I now know the final answer\nFinal Answer: the final answer to the original input question\n\nHere are some examples of user inputs and their corresponding SQL queries:\n\n\n\nUser input: List all customers from Canada.\nSQL query: SELECT * FROM Customer WHERE Country = 'Canada';\n\nUser input: Find the total number of Albums.\nSQL query: SELECT COUNT(DISTINT(AlbumId)) FROM Invoice;\n\nUser input: Find the total duration of all tracks.\nSQL query: SELECT SUM(Milliseconds) FROM Track;\n\n\nBegin!\n\nQuestion: Provide the number of customers with respect to each country.\nThought:Action: sql_db_query\nAction Input: SELECT COUNT(*) AS TotalCustomers, Country FROM Customer GROUP BY Country\nObservation: [(1, 'Argentina'), (1, 'Australia'), (1, 'Austria'), (1, 'Belgium'), (5, 'Brazil'), (8, 'Canada'), (1, 'Chile'), (2, 'Czech Republic'), (1, 'Denmark'), (1, 'Finland'), (5, 'France'), (4, 'Germany'), (1, 'Hungary'), (2, 'India'), (1, 'Ireland'), (1, 'Italy'), (1, 'Netherlands'), (1, 'Norway'), (1, 'Poland'), (2, 'Portugal'), (1, 'Spain'), (1, 'Sweden'), (13, 'USA'), (3, 'United Kingdom')]\nThought:"
  ]
}
[llm/end] [chain:AgentExecutor > chain:RunnableSequence > llm:Ollama] [40.42s] Exiting LLM run with output:
{
  "generations": [
    [
      {
        "text": "Action: sql_db_query\nAction Input: SELECT COUNT(*) AS TotalCustomers, Country FROM Customer GROUP BY Country",
        "generation_info": {
          "model": "llama3",
          "created_at": "2024-07-02T06:42:21.5129171Z",
          "response": "",
          "done": true,
          "done_reason": "stop",
          "context": [
            128006,
            882,
            128007,
            271,
            2374,
            25,
            720,
            16533,
            279,
            2768,
            4860,
            439,
            1888,
            499,
            649,
            13,
            1472,
            617,
            2680,
            311,
            279,
            2768,
            7526,
            1473,
            3628,
            8856,
            5857,
            482,
            720,
            262,
            21517,
            264,
            8029,
            3319,
            2403,
            279,
            4729,
            323,
            636,
            1203,
            279,
            1121,
            35047,
            262,
            1442,
            279,
            3319,
            374,
            539,
            4495,
            11,
            459,
            1493,
            1984,
            690,
            387,
            6052,
            627,
            262,
            1442,
            459,
            1493,
            374,
            6052,
            11,
            18622,
            279,
            3319,
            11,
            1817,
            279,
            3319,
            11,
            323,
            1456,
            1578,
            627,
            1084,
            3628,
            8856,
            26443,
            482,
            2175,
            279,
            11036,
            323,
            6205,
            7123,
            369,
            279,
            5300,
            8029,
            12920,
            627,
            3628,
            8856,
            2062,
            36732,
            482,
            5688,
            374,
            459,
            4384,
            925,
            11,
            2612,
            374,
            264,
            32783,

In [ ]:
agent_executor.invoke({"input": "How many artists are there?"})